<% include templates/head.ejs %>
<body id="top">
<% include templates/header.ejs%>
    <div class="page-header">
        <h1>About Our Company</h1>
    </div>
    <div id="scroll-stop"></div>
    <section class="mt50">
        <div class="container2">

            <div class="row">
                <div class="one-half">
                    <p>We are an independent digital marketing agency located in both McLean, Virginia, and Ankara, Turkey. We specialize in <a class="text-green" href="/work" title="Our Work">high quality website design and digital marketing services</a> aimed at bringing new customers to your business. We take a business-first approach to your company's digital needs, because we believe that art should serve a purpose.</p>
                </div>

                <div class="one-half">
                    <p>We understand that no two businesses will have the same website design and marketing needs. This means that when working with us, you can expect a personalized marketing strategy that is hand-tailored to fit your specific situation.</p>
                </div>

            </div>

            <div class="row mt50">

                <div class="one-half">
                    <a href="/work">
                        <div class="work-block gray rounded work-block-button">
                            <p><i class="icon-desktop icon-2x"></i></p>
                            <hr>
                            <p>View Our Work</p>
                        </div>
                    </a>
                </div>
<!--
                <div class="one-third">
                    <a href="/blog">
                        <div class="work-block green rounded work-block-button">
                            <p><i class="icon-book icon-2x"></i></p>
                            <hr>
                            <p>Read Our Blog</p>
                        </div>
                    </a>
                </div>
-->
                <div class="one-half">
                    <a href="/contact">
                        <div class="work-block gray rounded work-block-button">
                            <p><i class="icon-phone icon-2x"></i></p>
                            <hr>
                            <p>Contact Us</p>
                        </div>
                    </a>
                </div>
            </div>
            </div>
            </section>
            <section class="section-heading green mt50">
                <div class="container2">
                    <h2>We're an Independent Digital Marketing Agency located in McLean, Virginia and Ankara, Turkey</h2>
                </div>
            </section>

        </div>
    </section>
</body>
<% include templates/footer.ejs %>
