<% include templates/head.ejs %>
<body>
<% include templates/header.ejs%>

    <div class="full-page-header">
        <div class="header-content">
            <div class="welcome-message">
                <div class="title">Bal</div>
                <div class="title-below">Media Group</div>
                <div class="title-services">Websites - Branding - Marketing - SEO</div>
            </div>
            <div class="page-scroll">
                <a href="#scroll-stop"><i class="icon-angle-down scroll-down"></i></a>
            </div>
        </div>
    </div>
    <div id="scroll-stop"></div>
    <section class="mt150">
        <div class="container2">
            <div class="row">
                <div class="full">
                    <h1 class="section-header text-center">Welcome to Bal Media Group</h1>
                </div>
            </div>
            <div class="row">
                <div class="one-half">
                    <p>We are a <a href="work"><strong> web design</strong></a> &amp; digital marketing agency. Our speciality is crafting digital experiences that your customers will love. We are a team of business-trained online marketers who believe that art should serve a purpose.</p>
                </div>
                <div class="one-half">
                    <p>In today's virtual marketplace, people are searching for your company. We exist to help your business find more customers online by using cutting edge SEO and digital marketing techniques. Call us at <strong><span itemprop="telephone">202-355-4583</span></strong> to get started.</p>
                </div>
            </div>
<!--
            <div class="row mt50">
                <div class="one-third">
                    <a href="work/">
                        <div class="work-block blue rounded work-block-button">
                            <p><i class="icon-desktop icon-2x"></i></p>
                            <hr>
                            <p>View Our Work</p>
                        </div>
                    </a>
                </div>
                <div class="one-third">
                    <a href="/blog">
                        <div class="work-block green rounded work-block-button">
                            <p><i class="icon-book icon-2x"></i></p>
                            <hr>
                            <p>Read Our Blog</p>
                        </div>
                    </a>
                </div>
                <div class="one-third">
                    <a href="/contact">
                        <div class="work-block gray rounded work-block-button">
                            <p><i class="icon-phone icon-2x"></i></p>
                            <hr>
                            <p>Contact Us</p>
                        </div>
                    </a>
                </div>
            </div>
            -->
        </div>
    </section>
    <section class="banner mt150">
        <div class="container2">
            <h2>We provide digital marketing services including website design, SEO, and branding strategy.</h2>
        </div>
    </section>

    <section class="mt150">
        <div class="container2">

            <div class="row">
                <div class="full">
                    <h2 class="section-header text-center">Featured Work</h2>
                </div>
            </div>
<!--
            <div class="row">
                <div class="one-half">
                    <a href="work/prodigal-sun.php"><img class="work-img" src="img/work/prodigal-sun.jpg" alt="Bal Web Design Services | Bal Branding Services"></a>
                    <div class="work-block blue">
                        <p><a href="work/prodigal-sun.php">Prodigal Sun Mate</a></p>
                        <hr>
                        <p class="small">Web Design &amp; Branding</p>
                    </div>
                </div>
                <div class="one-half">
                    <a href="work/rafal-wazio.php"><img class="work-img" src="img/work/rafal-wazio.jpg" alt="Bal Web Design Services| Bal Branding Services"></a>
                    <div class="work-block green">
                        <p><a href="work/rafal-wazio.php">Rafal Wazio</a></p>
                        <hr>
                        <p class="small">Web Design &amp; Branding</p>
                    </div>
                </div>
            </div>

            <div class="row mt20">
                <div class="one-half">
                    <a href="work/mr-bills-fine-foods.php"><img class="work-img" src="img/work/mr-bills-fine-foods.jpg" alt="Bal Web Design Services"></a>
                    <div class="work-block green">
                        <p><a href="work/mr-bills-fine-foods.php">Mr. Bill's Fine Foods</a></p>
                        <hr>
                        <p class="small">Web Design</p>
                    </div>
                </div>
                <div class="one-half">
                    <a href="work/a1a.php"><img class="work-img" src="img/work/a1a.jpg" alt="Bal Web Design Services | Bal SEO Services"></a>
                    <div class="work-block blue">
                        <p><a href="work/a1a.php">A1A Screen Repair</a></p>
                        <hr>
                        <p class="small">Web Design &amp; Branding</p>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>

    <section class="banner mt150">
        <div class="container2">
            <h2>We would love to speak with you about your next project. Contact us today so we can get started.</h2>
        </div>
    </section>
<% include templates/footer.ejs %>
