<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bal Media Group provides website design, branding, marketing and SEO services.">
    <meta name="author" content="Mustafa Bal">
    <meta name="keywords" content="Bal, Media, Group, Website, Website Design, Branding service, Marketing service, SEO service">

    <title><%= title%></title>

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel=stylesheet type="text/css">
    <link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
    <link href="stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/normalize.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/style.css" rel="stylesheet" type="text/css" />
    <link href="stylesheets/responsive.css" rel="stylesheet" type="text/css" />
</head>