<nav class="navbar navbar-fixed-top">
    <div class="container2">
        <div class="logo">
            <a href="/"><img src="" alt="Bal Media Group" height="71" width="230"></a>
        </div>
        <ul id="nav" class="js" >
            <li><a href="/">Home</a></li>
            <li><a href="/services">Services</a></li>
            <!--<li><a href="/work">Work</a></li>-->
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</nav>

