<% include templates/head.ejs %>
<% include templates/header.ejs %>
<div class="page-header">
    <h1>Recent Work</h1>
</div>
<body>
<section class="mt50">
    <div class="container">
        <div class="row">
            <div class="one-half">
                <a href="prodigal-sun.php"><images class="work-images" src="../images/work/prodigal-sun.jpg" alt="Orlando Website Design Portfolio - Food and Beverage Web Design"></a>
                <div class="work-block blue">
                    <p><a href="prodigal-sun.php">Prodigal Sun Mate</a></p>
                    <hr>
                    <p class="small">Web Design &amp; Branding</p>
                </div>
            </div>



<!--
        <div class="row">
            <div class="one-half">
                <a href="prodigal-sun.php"><images class="work-images" src="../images/work/prodigal-sun.jpg" alt="Orlando Website Design Portfolio - Food and Beverage Web Design"></a>
                <div class="work-block blue">
                    <p><a href="prodigal-sun.php">Prodigal Sun Mate</a></p>
                    <hr>
                    <p class="small">Web Design &amp; Branding</p>
                </div>
            </div>
            <div class="one-half">
                <a href="rafal-wazio.php"><images class="work-images" src="../images/work/rafal-wazio.jpg" alt="Orlando Website Design Portfolio - Real Estate Website Design"></a>
                <div class="work-block green">
                    <p><a href="rafal-wazio.php">Rafal Wazio</a></p>
                    <hr>
                    <p class="small">Web Design &amp; Branding</p>
                </div>
            </div>
        </div>

        <div class="row mt20">
            <div class="one-half">
                <a href="mr-bills-fine-foods.php"><images class="work-images" src="../images/work/mr-bills-fine-foods.jpg" alt="Web Design Orlando - Restaurant Website Design"></a>
                <div class="work-block green">
                    <p><a href="mr-bills-fine-foods.php">Mr. Bill's Fine Foods</a></p>
                    <hr>
                    <p class="small">Web Design</p>
                </div>
            </div>
            <div class="one-half">
                <a href="a1a.php"><images class="work-images" src="../images/work/a1a.jpg" alt="Website Design Orlando - Affordable Web Design"></a>
                <div class="work-block blue">
                    <p><a href="a1a.php">A1A Screen Repair</a></p>
                    <hr>
                    <p class="small">Web Design &amp; Branding</p>
                </div>
            </div>
        </div>

        <div class="row mt20">
            <div class="one-half">
                <a href="ameribuilt.php"><images class="work-images" src="../images/work/ameribuilt.jpg" alt="Orlando Web Design Service - Commercial Web Design"></a>
                <div class="work-block blue">
                    <p><a href="ameribuilt.php">AmeriBuilt Steel Structures</a></p>
                    <hr>
                    <p class="small">Web Design &amp; Branding</p>
                </div>
            </div>
            <div class="one-half">
                <a href="major-mulch.php"><images class="work-images" src="../images/work/major-mulch.jpg" alt="Orlando Business Website Design - Orlando SEO"></a>
                <div class="work-block green">
                    <p><a href="major-mulch.php">Major Mulch Installations</a></p>
                    <hr>
                    <p class="small">Web Design &amp; SEO</p>
                </div>
            </div>
        </div>

        <div class="row mt20">
            <div class="one-half">
                <a href="lighted-dance-floors.php"><images class="work-images" src="../images/work/lighted-dance-floors.jpg" alt="Affordable Orlando SEO - Orlando Website Design"></a>
                <div class="work-block green">
                    <p><a href="lighted-dance-floors.php">Lighted Dance Floors</a></p>
                    <hr>
                    <p class="small">Web Design &amp; SEO</p>
                </div>
            </div>
            <div class="one-half">
                <a href="leinteriors.php"><images class="work-images" src="../images/work/leinteriors.jpg" alt="Florida Web Design - Interior Design Website Design"></a>
                <div class="work-block blue">
                    <p><a href="leinteriors.php">Limited Edition Interiors</a></p>
                    <hr>
                    <p class="small">Web Design &amp; SEO</p>
                </div>
            </div>
        </div>
-->

    </div>
</section>
</body>
<% include templates/footer.ejs %>